main {
  margin: 0 auto;
}

/* Medium screens (large tablet to laptop/desktop) and larger */

@media only screen and (min-width: 769px) {
  main {
    width: 85%;
  }
  .content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, auto);
    gap: 5rem 8%;
    grid-template-areas:
      "a ."
      "a ."
      ". b"
      ". b"
      "c ."
      "c ."
      ". d"
      ". d";
  }

  .content-block:nth-child(1) {
    grid-area: a;
  }
  .content-block:nth-child(2) {
    grid-area: b;
  }
  .content-block:nth-child(3) {
    grid-area: c;
  }
  .content-block:nth-child(4) {
    grid-area: d;
  }
}

/* Small screens (narrow tablet) and smaller */

@media only screen and (max-width: 768px) {
  .content-block {
    margin-top: 1rem;
  }
}
