/* Links to individual posts will scroll smoothly */
html {
  scroll-behavior: smooth;
}

main {
  display: flex;
}

/* Archive */

#archive {
  width: 100%;
  background-color: #5c6673;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0.5rem;
  border-radius: 10px;
}

#post-list {
  margin-left: 2rem;
  line-height: 2rem;
}

#archive-heading {
  text-align: center;
  margin: 1rem 0;
}

/* Content blocks */

.content-block {
  margin-top: 1rem;
  position: relative;
}

/* Invisible div positioned above each post. Archive links jump to these anchors so post is not obscured by sticky header. */
.post-anchor {
  visibility: hidden;
  position: absolute;
  top: -3rem;
}

/* Content block - header */

.content-header {
  display: grid;
  grid-template-columns: 5rem 1fr;
}

.author-name {
  margin-top: 0.5em;
  font-size: 0.9rem;
}

.author-details {
  padding-left: 0.5rem;
  width: 6rem;
}

.side-img {
  position: static;
  display: block;
  margin: 0 auto 0.2em auto;
  border-radius: 50%;
}

.content-details {
  /* Padding to center text relative to content block (not just its own grid-column) */
  padding-right: 3.75rem;
}

/* Content blocks - body */

.content-body {
  flex-direction: column;
  align-items: center;
}

.content-para {
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  min-width: 225px;
  flex: 1;
}

.content-para:nth-child(1) {
  /* No additional top margin for first paragraph */
  margin-top: 0.5rem;
}

/* Small screens (narrow tablet) and smaller */

@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }
}

/* Medium screens (large tablet to laptop/desktop) and larger */
@media only screen and (min-width: 769px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
  .page-header {
    width: 100%;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    flex-grow: 1;
    padding: 1rem;
  }

  /* Archive */

  body {
    /* Archive sidebar should be aligned with side of page */
    margin: 0;
  }

  #archive {
    width: 30%;
    max-width: 25rem;
    height: 100vh;
    position: sticky;
    top: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-right: 2px solid #a3f3ff;
    border-bottom: 2px solid #a3f3ff;
    border-radius: 0;
  }

  .content-block:nth-child(1) {
    margin-top: 0;
  }
}

/* Disable smooth scroll for users with "prefer reduced motion" browser settings */
@media only screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
