/* Prevents labels from wrapping */
label {
  min-width: max-content;
}

#contact-details {
  line-height: 1.5rem;
}

#contact-details li {
  margin-left: 2rem;
}

.text-input {
  max-width: 25em;
}

#details-container {
  max-width: 800px;
  margin: 0 auto;
}

#form-container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 1rem auto 0 auto;
}

#contact-form {
  display: grid;
  grid-template-areas:
    "name-label name-input"
    "email-label email-input"
    "message-label message-label"
    "message message"
    "submit submit";
  gap: 10px 1rem;
  grid-template-columns: auto 1fr;
}

#name-label {
  grid-area: name-label;
}

#name {
  grid-area: name-input;
}

#email-label {
  grid-area: email-label;
  min-width: max-content;
}

#email {
  grid-area: email-input;
}

#message-label {
  grid-area: message-label;
}

#message {
  grid-area: message;
  max-width: 770px;
}

#contact-submit {
  grid-area: submit;
  width: 5rem;
  height: 2rem;
  font-weight: bold;
  margin: 0 auto;
  font-size: 1rem;
  border-radius: 20px;
  background: radial-gradient(#5c6673 0%, #343d47 70%, #161d26 95%);
  color: #e3e3e3;
}

#contact-submit:active {
  background: radial-gradient(
    hsl(214, 11%, 51%) 0%,
    hsl(212, 15%, 34%) 70%,
    hsl(214, 27%, 22%) 95%
  );
}

/* Larger than mobile */

@media only screen and (min-width: 481px) {
  /* Submit button aligned left, not center */
  #contact-submit {
    margin: 0;
  }
}
