/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&family=Rubik:wght@400;700&display=swap");

/* General styles */

* {
  box-sizing: border-box;
  color: #e3e3e3;
  margin: 0;
  padding: 0;
  font-family: "Chivo", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: #161d26;
  min-height: 100vh;
  margin: 0 1.5%;
}

main {
  padding-bottom: 1rem;
}

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 2;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
}

em {
  font-style: normal;
  color: #99f1ff;
}

a {
  font-weight: bold;
  /* Centers images etc. wrapped in <a> tags */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #a3f3ff;
}

a:visited {
  color: #e3e3e3;
}

input,
textarea,
submit {
  color: #161d26;
}

figure {
  margin: 1rem 0.5rem 0 0.5rem;
}

figcaption {
  font-size: 0.9em;
  text-align: center;
  margin-top: 0.2rem;
  color: #99f1ff;
}

.content-block {
  background-color: #5c6673;
  border-radius: 10px;
  padding: 1rem;
}

.content-header {
  margin-bottom: 1rem;
  position: relative;
  /* Min height to fit absolutely-positioned child image */
  min-height: 50px;
}

.side-img {
  position: absolute;
  left: 0.5rem;
}

.content-title {
  text-align: center;
  color: #99f1ff;
}

.content-date {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 0.9em;
  color: #99f1ff;
}

.content-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-para {
  margin-top: 1rem;
  line-height: 1.2;
}

.content-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  color: #a3f3ff;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-wrap {
  white-space: nowrap;
}

/* Header */

#site-header {
  display: flex;
  width: 100%;
  height: 3rem;
  position: fixed;
  left: 0;
  background-color: #5c6673;
  z-index: 1;
}

/* Prevents header from overlapping content at top of page */
#header-space {
  visibility: hidden;
  height: 3rem;
}

#pro-links {
  display: flex;
  justify-content: space-around;
}

#pro-links li {
  padding: 0.2rem;
}

.pro-link {
  width: 48px;
  height: 48px;
  position: relative;
}

/* Provides off-white background for transparent logos. Background is clickable due to width and height of anchor specified above. */
.pro-link:after {
  content: "";
  background-color: #e3e3e3;
  border-radius: 50%;
  z-index: -1;
  width: 48px;
  height: 48px;
  position: absolute;
}

.link-list {
  display: flex;
  flex: 1;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Footer */

footer {
  border-top: 1px solid #e3e3e3;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#copyright {
  grid-area: copyright;
  display: flex;
  padding-top: 0.3rem;
}

/* Media queries */

/* Smallest screens (mobile) only */
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  /* Hide top site nav */
  #site-nav {
    display: none;
  }

  /* Top header contains external links only */

  #site-header {
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    opacity: 80%;
  }

  #pro-links {
    width: 40%;
    padding-top: 32px;
  }

  /* Collapsible bottom nav styles */

  #m-nav-toggle {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: hsl(0, 0%, 75%);
    border: 4px solid #161d26;
    box-shadow: 3px 3px 5px #343d47;
    background-image: url("../imgs/hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    position: fixed;
    bottom: 5vh;
    right: 10vw;
    z-index: 1;
    transition: bottom 0.3s ease-out, right 0.3s ease-out;
  }

  #m-nav-toggle:active {
    /* Increase background lighting by 10% on click */
    background-color: hsl(0, 0%, 85%);
    box-shadow: none;
    width: 19vw;
    height: 19vw;
  }

  #m-nav {
    width: 100%;
    height: 52vw;
    position: fixed;
    bottom: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: bottom 0.3s ease-out, transform 0.3s ease-out;
  }

  .m-nav-link {
    font-weight: bold;
    font-size: 1.1em;
    width: 26vw;
    height: 26vw;
    border-radius: 50%;
    background: radial-gradient(#5c6673 0%, #343d47 70%, #161d26 95%);
    border: 3px solid #161d26;
    box-shadow: 3px 3px 5px #343d47;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* Override <a> tag color */
    color: #e3e3e3;
    text-decoration-color: #e3e3e3;
    font-family: "Rubik", sans-serif;
  }

  .m-nav-link:active {
    /* Increase background lighting by 10% on click */
    background: radial-gradient(
      hsl(214, 11%, 51%) 0%,
      hsl(212, 15%, 34%) 70%,
      hsl(214, 27%, 22%) 95%
    );
    box-shadow: none;
    width: 25vw;
    height: 25vw;
  }

  #m-nav-toggle:focus,
  #m-nav-toggle:active {
    outline: none;
  }

  /* Space to prevent hamburger menu from obscuring content at full scroll */
  footer {
    margin-bottom: 30vw;
  }
}

/* Medium-sized mobile only */

@media only screen and (min-width: 360px) and (max-width: 400px) {
  .m-nav-link {
    font-size: 1.3em;
  }
}

/* Large-sized mobile only */

@media only screen and (min-width: 401px) and (max-width: 480px) {
  .m-nav-link {
    font-size: 1.5em;
  }
}

/* Small screens (narrow tablet) only */

@media only screen and (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  /* Smaller professional link icons to prevent content overlap within this screen width range */

  #pro-links li {
    padding: 0.1rem;
  }

  .pro-link {
    width: 40px;
    height: 40px;
  }

  .pro-link:after {
    width: 40px;
    height: 40px;
  }
}

/* Medium screens (large tablet to laptop/desktop) only */

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  html {
    font-size: 18px;
  }
}

/* Large screens (desktop) only */

@media only screen and (min-width: 1281px) {
  html {
    font-size: 20px;
  }
}

/* Larger than mobile */

@media only screen and (min-width: 481px) {
  /* Hide mobile nav */
  #m-nav,
  #m-nav * {
    display: none;
  }

  #m-nav-toggle {
    display: none;
  }

  /* Fixed header with external links (left) and site nav (right) */

  #site-header {
    justify-content: space-between;
    border-bottom: 2px solid #a3f3ff;
  }

  #pro-links {
    flex: 0 1 20%;
    max-width: 15rem;
  }

  #site-nav {
    flex: 1 3 40%;
    max-width: 40rem;
    display: flex;
    margin-right: 1.5rem;
  }

  /* Top navbar item styles */

  .nav-item {
    border: 1px solid #a3f3ff;
    border-top: none;
    border-bottom: none;
    padding: 0.2rem;
    flex: 1;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343d47;
    transition: background-color 0.2s;
  }

  .nav-item a {
    width: 100%;
    height: 100%;
  }

  .nav-item:hover {
    background-color: rgba(143, 240, 255, 0.3);
  }

  .nav-item:active {
    background-color: rgba(143, 240, 255, 0.5);
  }

  .last {
    border-right: 2px solid #99f1ff;
  }

  .first {
    border-left: 2px solid #99f1ff;
  }

  .nav-item.current {
    background-color: #161d26;
  }

  /* Text within nav-items is colored consistent with <a> tags (required because <a> tags in top nav do not wrap text directly) */
  .nav-item * {
    color: #99f1ff;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
  }

  .nav-item:visited *,
  .nav-item.current * {
    color: #e3e3e3;
    text-decoration-color: #e3e3e3;
  }
}
